
html{
  scroll-behavior: smooth;
}

body{
  margin: 0px;
}

.navbar{
  text-align: center;
  padding-top: 30px;
}
  
  .navbar a {
    /* color: #8a8a8a; */
    color: rgb(156, 156, 156);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar a:hover {
    /* color: black; */
    color: whitesmoke;
  }
  
  .navbar a.active {
    text-decoration: underline;
  }

  .main-titles{
      text-align: center;
      font-size: 1.888888888888889em;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      color: #555;
      letter-spacing: normal;
  }

  /* Home page Section */
  .heading #main-logo{
      width: 400px;
      height: 400px;
      display: block;
      margin-right: auto;
      margin-left: auto;
  }

  .heading{
    background-image: url("assets/board-background.jpg");
    background-size: cover;
    /* opacity: 70%;
    z-index: -1; */
    height: 100vh;
  }

  /* About Section */
  #about{
    width: 65%;
    margin: auto;
    margin: 5% auto 5% auto;
  }
  .about-content{
    display: flex;
  }
  
  .about-info img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    /* border-radius: 50%;
    border: 7px solid #fff;
    width: 25%;
    float: left;
    margin-right: 30px; */
  }

  .about-info{
    width: 50%;
    text-align: center;
    line-height: 2;
    margin: 0px 30px 0px 30px;
  }

  .about-info p{
    color: #555;
  }

  
  
  
  #meet-team-section{
     background-color: #f6f6f6;
     padding: 50px 0px;
  }

  p{
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -.2px;
    /* color: #6e6e6e; */
  }

  h1,h3{
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-style: normal;
    letter-spacing: -.2px;
    color: #555;
  }

  #contact{
    background-image: url("assets/board-background.jpg");
    background-size: cover;
    height: 30vh;

  }

  footer h1{
    color: whitesmoke;
    text-align: center;
    padding: 30px 0px 30px 0px;
  }

  footer p{
    color: whitesmoke;
    text-align: center;
  }

  .contact-icon{
    width: 20px;
    height: 20px;
  }
 