
.member-img{
    /* border-radius: 50%;
    border: 7px solid #fff; */
    width: 100%;
    height: auto;
    /* height: 100px;
    margin: auto; */
  }

  .member-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: 20px auto 20px auto;
    text-align: center;
    padding-bottom: 30px;
  }

  .position {
    color: rgba(45, 148, 189, 0.781);
    font-size: 18px;
    font-family: 'Montserrat',Helvetica,Arial,sans-serif;
  }

  .board{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: 5% auto 5% auto;
  }

  .member-card-icon{
    width: 20px;
    height: 20px;
  }